$md-teal-100: #B2DFDB;
$md-teal-200: #80CBC4;
$md-teal-300: #4DB6AC;
$md-teal-400: #26A69A;
$md-teal-500: #009688;
$md-teal-600: #00897B;
$md-teal-700: #00796B;
$md-teal-800: #00695C;
$md-teal-900: #004D40;